.jumbotron {
	background-color: orchid;
	margin-bottom: 50px;
	background-image: url(images/key.jpg);
	background-size: cover;
	
}

body {
	
	background-color: black;
	color: white;
}




footer{
	margin-top: 50px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: lightgray;
}

.form{
	margin-top: 80px;
}